<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />

    <title>MinIO Buckets</title>
  </head>
  <body>
    <div class="container">
      <h1>Gerenciador do Bucket de Teste MinIO</h1>
      <div class="data-item">
        <span>🟦 Total de Arquivos:</span>
        <span id="totalFiles"><%= totalFiles %></span>
      </div>
      <div class="data-item">
        <form action="/register" method="post" enctype="multipart/form-data">
          <span>
            <label for="fileUpload" class="fileSend">Selecionar Arquivo</label>
            <input
              type="file"
              name="fileUpload"
              id="fileUpload"
              accept=".png, .jpg, .jpeg, .txt, .md, .pdf, .txt"
              hidden
              required
            />
          </span>
          <span>
            <button type="submit" class="fileSend"> Enviar </button>
          </span>
        </form>
      </div>

      <div class="table-container">
        <table class="data-table">
          <thead>
            <tr>
              <th>Nome do Arquivo</th>
              <th>Extensão</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody id="fileList">
            <% files.forEach((file) => {%>
            <tr>
              <td><%= file.fileName %></td>
              <td><%= file.extension %></td>
              <td>
                <form
                  action="/download/<%= file.fileName %>"
                  method="post"
                  style="display: inline"
                >
                  <button
                    type="submit"
                    class="action-btn download"
                    title="Download"
                  >
                    <i class="fa-solid fa-download"></i>
                  </button>
                </form>

                <form
                  action="/delete/<%= file.fileName %>"
                  method="post"
                  style="display: inline"
                >
                  <button
                    type="submit"
                    class="action-btn delete"
                    title="Deletar"
                  >
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </form>
              </td>
            </tr>
            <%})%>
          </tbody>
        </table>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/aws-sdk/2.1239.0/aws-sdk.min.js"></script>
  </body>
</html>
